.card{
    width: 400px;
    height: auto;
    padding: 10px;
}
.card img{
    width: 380px;
}
.mebel-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
/* 
git push  
git commit -m "Css qoshdim"
git status
git add . 
git add App.css
git push -u origin main
git branch -M main   
git remote add origin https://github.com/Biyonur/mebel.git
git commit -m "Yangi test uchun yuklash"
git config --global user.name "Biyonur" 
git config --global user.email "friendpubgers@gmail.com"
git init
npm rader
npm     
npm i  
*/